<%- include('includes/head.ejs') %>
<div
  class="container-fluid d-flex flex-column align-items-center mt-5"
>
  <div
    class="container-fluid d-flex align-items-center rounded-5"
    style="height: 50vh; overflow-y: hidden; padding-bottom: 190px;"
  >
    <img src="/img/main.jpg" alt="main image" class="img-fluid" />
  </div>
  <div class="mt-5 d-flex align-items-center flex-column">
    <h1>Inicio</h1>
    <p>
      Se te presentar치 una serie de im치genes de distintos tipos de
      animales, deber치s escoger치s cual es tu favorito de cada grupo
    </p>
    <a href="/animales/perritosgroup" class="mt-3"
      ><button type="button" class="btn btn-primary">
        Empezar
      </button></a
    >
  </div>
</div>